.pdf-container {
  width: fit-content;
  /* height: 942px; */
  border: 1px solid grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-container h2 {
  margin: "15px 0px";
  text-align: center;
}

.sub-main-container {
  width: 97%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.showInTabOnly {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .sub-main-container {
    flex-direction: column-reverse;
    margin: 20px 5px;
  }
  .main-container {
    /* flex-direction: column-reverse; */
    margin: 20px 5px;
  }
  .main-container h2 {
    font-size: 1.7rem;
  }
  .main-form-container {
    margin-top: 30px;
  }
  .pdf-container {
    width: 98vw;
    margin-top: 20px;
  }
  .showInTabOnly {
    display: flex;
  }
}
